@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************** header ****************/
header{
    display: flex;
    padding: 40px 40px 0px 40px;
}
.div__buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 5;
}
.div__buttons button{
    width: 40px;
    height: 40px;
    align-items: center;
    background-color: var(--color-1);
    border-radius: 100px;
    border: none;
}
.arrow-left{
    width: 24px;
    height: 24px;
}
.heart-white{
    margin-top: 4px;
    width: 24px;
    height: 24px;
    filter: invert(1);
}
/*************************************/
/**************** main ****************/
main{
    display: flex;
    flex-direction: column;
    padding: 0px 24px 0px 24px;
}
.div__img{
    display: flex;
    margin-top: -53px;
    width: 327px;
    height: 392px;
    justify-content: center;
}
.div__img img{
    width: 100%;
    border-radius: 16px;
    object-fit: fill;
}
.div__info{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 327px;
    margin-top: 24px;
}
.div__info-clothe{
    display: flex;
    flex-direction: column;
}
.div__info-clothe .clothe-name{
    font-family: "EncodeSans-SemiBold";
    line-height: 130%;
    font-size: 24px;
    color: var(--color-3);
}
.div__rating-clothe{
    display: flex;
    margin-top: 4px;
}
.div__rating-clothe img{
    width: 18px;
    height: 18px;
}
.div__rating-clothe .rating-value{
    font-family: "EncodeSans-Regular";
    font-size: 12px;
    line-height: 120%;
    margin-left: 8px;
    color: var(--color-7);
}
.div__rating-clothe .reviews{
    font-family: "EncodeSans-Regular";
    font-size: 12px;
    line-height: 120%;
    margin-left: 4px;
    color: var(--color-12);
}
/*************************************/