@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*************** header ***************/
header{
    display: flex;
    padding: 24px 24px 0px 24px;
}
.div__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.button-back{
    background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-11);
    border-radius: 100px;
}
.button-back img{
    width: 24px;
}
.img-user{
    position: absolute;
    display: flex;
    width: 40%;
    left: 30%;
    top: 8.5%;
    border-radius: 30px;
    border: 5px solid var(--color-5);
    box-shadow: 0px 4px 3px var(--shadow-color-2);
}
.button-menu{
    background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-11);
    border-radius: 100px;
}
.button-menu img{
    width: 24px;
}
/**********************************/
/*************** main ***************/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border:  2px solid var(--color-11);
    border-radius: 35px 35px 0px 0px;
    padding: 85px 24px 24px 24px;
}
.div__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.div__name{
    background: var(--color-1);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55px;
    border-radius: 20px;
    border: 2px solid var(--color-11);
}
.title-name{
    position: absolute;
    background: var(--color-1);
    text-align: center;
    width: 45px;
    color: var(--color-15);
    font-family: "EncodeSans-Bold";
    font-size: 14px;
    line-height: 150%;
    margin-left: 24px;
    margin-top: -9px;
    border-radius: 6px;
}
.name{
    display: flex;
    font-family: "EncodeSans-SemiBold";
    font-size: 15px;
    align-items: center;
    color: var(--color-6);
    width: 92.1%;
    height: 55px;
    margin-left: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.div__email{
    background: var(--color-1);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    height: 55px;
    border-radius: 20px;
    border: 2px solid var(--color-11);
}
.title-email{
    position: absolute;
    background: var(--color-1);
    text-align: center;
    width: 45px;
    color: var(--color-15);
    font-family: "EncodeSans-Bold";
    font-size: 14px;
    line-height: 150%;
    margin-left: 24px;
    margin-top: -9px;
    border-radius: 6px;
}
.email{
    display: flex;
    font-family: "EncodeSans-SemiBold";
    color: var(--color-6);
    width: 92.1%;
    height: 55px;
    margin-left: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.div__password{
    background: var(--color-1);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    height: 55px;
    border-radius: 20px;
    border: 2px solid var(--color-11);
}
.title-password{
    position: absolute;
    background: var(--color-1);
    text-align: center;
    width: 73px;
    color: var(--color-15);
    font-family: "EncodeSans-Bold";
    font-size: 14px;
    line-height: 150%;
    margin-left: 24px;
    margin-top: -9px;
    border-radius: 6px;
}
.password{
    display: flex;
    font-family: "EncodeSans-SemiBold";
    color: var(--color-6);
    width: 92.1%;
    height: 55px;
    margin-left: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
}
input::placeholder{
    font-family: "EncodeSans-SemiBold";
    font-size: 15px;
    color: var(--color-6);
}
hr{
    margin-top: 40px;
    margin-bottom: 24px;
    border: 1px solid var(--color-11);
    width: 100%;
}
.div__history{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.div__info1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.menu-payments{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: none;
}
.div__info2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}
.menu-orders{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: none;
}
p{
    color: var(--color-15);
    font-family: "EncodeSans-Bold";
    font-size: 14px;
    line-height: 150%;
}
/**********************************/
/************ Footer ***********/
footer{
    width: 100%;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 24px 0px 24px;
}
.div__footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.div__button-edit{
    background-color: var(--color-5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 60px;
    border: none;
    border-radius: 20px;
}
.button-edit{
    background-color: var(--color-5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.text-edit{
    font-family: "EncodeSans-SemiBold";
    font-size: 14px;
    color: var(--color-1);
}
.button-edit img{
    margin-left: 10px;
    width: 18px;
}
.div__button-log-out{
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 60px;
    border: none;
    border-radius: 20px;
}
.button-log-out{
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-22);
    border-radius: 20px;
}
.text-log-out{
    font-family: "EncodeSans-SemiBold";
    font-size: 14px;
    color: var(--color-5);
}
.button-log-out img{
    margin-left: 10px;
    width: 16px;
}
/************* Media *************/
@media screen and (min-width: 768px) {
    .img-user{
        position: absolute;
        display: flex;
        width: 24.5%;
        left: 40%;
        top: 1.5%;
        border-radius: 30px;
        border: 5px solid var(--color-5);
        box-shadow: 0px 4px 3px var(--shadow-color-2);
    }
}
@media screen and (min-width: 1280px) {
    .img-user{
        position: absolute;
        display: flex;
        width: 15.5%;
        left: 42%;
        top: 1.5%;
        border-radius: 30px;
        border: 5px solid var(--color-5);
        box-shadow: 0px 4px 3px var(--shadow-color-2);
    }
}
@media screen and (min-width: 1500px) {
    .img-user{
        position: absolute;
        display: flex;
        width: 10.5%;
        left: 45%;
        top: 1.5%;
        border-radius: 30px;
        border: 5px solid var(--color-5);
        box-shadow: 0px 4px 3px var(--shadow-color-2);
    }
}