<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="icon" href="../storage/img/icon-logo.png">
</head>
<body>
    <header>
        <div class="div__header">
            <button class="button__back">
                <a href="../views/detail1.html"><img src="../storage/img/arrow-left.png"></a>
            </button>
            <h1>Checkout</h1>
            <button class="button__menu">
                <img src="../storage/img/icon-menu.png">
            </button>
        </div>
    </header>
    <main>
        <div class="div__clothe1">
            <img class="clothe1" src="../storage/img/clothe1.png">
            <div class="div__info-clothe1">
                <p class="title-clothe1">Modern Light Clothes</p>
                <p class="category-clothe1">T-shirt</p>
                <span class="price-clothe1">$212.99</span>
            </div>
            <div class="div__info2-clothe1">
                <button class="button__settings">
                    <img src="../storage/img/icon-menu-clothes.png">
                </button>
               <div class="div__quantity-clothe1">
                <button class="button__minus">
                    <img src="../storage/img/minus-line.png">
                </button>
                <input class="input1" type="number" value="4">
                <button class="button__add">
                    <img src="../storage/img/add-line.png">
                </button>
               </div>
            </div>
        </div>
        <hr>
        <div class="div__clothe2">
            <img class="clothe2" src="../storage/img/clothe2.png">
            <div class="div__info-clothe2">
                <p class="title-clothe2">Light Dress Bless</p>
                <p class="category-clothe2">Dress modern</p>
                <span class="price-clothe2">$162.99</span>
            </div>
            <div class="div__info2-clothe2">
                <button class="button__settings">
                    <img src="../storage/img/icon-menu-clothes.png">
                </button>
               <div class="div__quantity-clothe2">
                <button class="button__minus">
                    <img src="../storage/img/minus-line.png">
                </button>
                <input class="input1" type="number" value="1">
                <button class="button__add">
                    <img src="../storage/img/add-line.png">
                </button>
               </div>
            </div>
        </div>
        <hr>
    </main>
</body>
</html>