<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="icon" href="../storage/img/icon-logo.png">
</head>
<body>
    <header>
        <div class="div__header">
            <button class="button__back">
                <a href="../views/detail1.html"><img src="../storage/img/arrow-left.png"></a>
            </button>
            <h1>Checkout</h1>
            <button class="button__menu">
                <img src="../storage/img/icon-menu.png">
            </button>
        </div>
    </header>
</body>
</html>