<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <header>
        <div  class="div__buttons">
            <button>
                <a href="#"><img src="../storage/img/arrow-left.png" class="arrow-left"></a>
            </button class="button__back">
            <button>
                <a href="#"><img src="../storage/img/icon-heart-white.png" class="heart-white"></a>
            </button class="button__fav">
        </div>
    </header>
</body>
</html>