<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../storage/img/icon-logo.png">
</head>
<body>
    <header>
        <div class="div__welcome">
            <div class="div__info-user">
                <p>Hello, Welcome 👋</p>
                <h1>Juan Jaimes</h1>
            </div>
            <div class="div__user-img">
                <img src="../storage/img/user.png">
            </div>
        </div>
        <div class="div__search">
            <div class="div__search-input">
                <img src="../storage/img/icon-search.png">
                <input type="text" placeholder="Search clothes...">
            </div>
        </div>
    </header>
</body>
</html>