<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-profile</title>
    <link rel="stylesheet" href="../css/home-profile.css">
</head>
<body>
    <header>
        <div class="div__header">
            <button class="button-back">
                <a href="../views/home.html"><img src="../storage/img/arrow-left.png"></a>
            </button>
                <img class="img-user" src="../storage/img/user.png">
            <button class="button-menu">
                <a href="../views/home-profile.html"><img src="../storage/img/icon-menu.png"></a>
            </button>
        </div>
    </header>
    <main>
        <div class="div__info">
            <div class="div__name">
                <span class="title-name">Name</span>
                <input type="text" class="name" placeholder="Juan Jaimes">
            </div>
            <div class="div__email">
                <span class="title-email">Email</span>
                <input type="email" class="email" placeholder="juanjaimes@gmail.com">
            </div>
            <div class="div__password">
                <span class="title-password">Password</span>
                <input type="password" class="password" placeholder="* * * * * * * * * * * *">
            </div>
            <hr>
            <div class="div__history">
                <div class="div__info1">
                    <p>Payment Details</p>
                    <button class="menu-payments">
                        <img src="../storage/img/icon-menu-clothes.png" alt="">
                    </button>
                </div>
                <div class="div__info2">
                    <p>Order History</p>
                    <button class="menu-orders">
                        <img src="../storage/img/icon-menu-clothes.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="div__footer">
            <div class="div__button-edit">
                <button class="button-edit">
                    <p class="text-edit">Edit Profile</p>
                    <img src="../storage/img/icon-edit.png">
                </button>
            </div>
            <div class="div__button-log-out">
                <button class="button-log-out">
                    <p class="text-log-out">Log Out</p>
                    <img src="../storage/img/icon-log-out.png">
                </button>
            </div>
        </div>
    </footer>
</body>
</html>