<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../storage/img/icon-logo.png">
</head>
<body>
    <header>
        <div class="div__welcome">
            <div class="div__info-user">
                <p>Hello, Welcome 👋</p>
                <h1>Juan Jaimes</h1>
            </div>
            <div class="div__user-img">
                <img src="../storage/img/user.png">
            </div>
        </div>
        <div class="div__search">
            <div class="div__search-input">
                <img src="../storage/img/icon-search.png">
                <input type="text" placeholder="Search clothes. . .">
            </div>
            <button class="button__search">
                <a href="#"><img src="../storage/img/icon-setting.png"></a>
            </button>
        </div>
    </header>
    <nav class="nav__category">
        <div class="nav__category-content">
            <ul>
                <li><a class="on" href="#"> <img src="../storage/img/category.png" class="img-on">All Items</a></li>
                <li><a class="off1" href="#"><img src="../storage/img/dress.png" class="img-off1">Dress</a></li>
                <li><a class="off2" href="#"><img src="../storage/img/t-shirt.png" class="img-off2">T-Shirt</a></li>
                <li><a class="off3" href="#"><img src="../storage/img/pants.png" class="img-off3">Pants</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="div__img-left">
            <div class="div__img-left-content">
                <a href="#"><img src="../storage/img/clothe1.png" class="img-clothe1"></a>
                <button class="button__img-left-heart">
                    <img src="../storage/img/icon-heart.png">
                </button>
                <div class="div__img-left-info">
                    <span>Modern Light Clothes</span>
                    <p>T-Shirt</p>
                    <div class="div__img-left-rating">
                        <p class="price">$212.99</p>
                        <img src="../storage/img/rating.png">
                        <p class="rating">5.0</p>
                    </div>
                </div>
                <a href="#"><img src="../storage/img/clothe3.png" class="img-clothe3"></a>
                <button class="button__img-left-heart3">
                    <img src="../storage/img/icon-heart.png">
                </button>
                <div class="div__img-left-info3">
                    <span>Semi-Formal Suit</span>
                    <p>T-Shirt</p>
                    <div class="div__img-left-rating3">
                        <p class="price3">$194.99</p>
                        <img src="../storage/img/rating.png">
                        <p class="rating3">5.0</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="div__img-right">
            <div class="div__img-right-content">
                <a href="#"><img src="../storage/img/clothe2.png" class="img-clothe2"></a>
                <button class="button__img-right-heart2">
                    <img src="../storage/img/icon-heart-white.png">
                </button>
                <div class="div__img-right-info2">
                    <span>Light Dress Bless</span>
                    <p>Dress modern</p>
                    <div class="div__img-right-rating2">
                        <p class="price2">$163.99</p>
                        <img src="../storage/img/rating.png">
                        <p class="rating2">5.0</p>
                    </div>
                </div>
                <a href="#"><img src="../storage/img/clothe4.png" class="img-clothe4"></a>
                <button class="button__img-right-heart4">
                    <img src="../storage/img/icon-heart.png">
                </button>
                <div class="div__img-right-info4">
                    <span>Light Dress Bless</span>
                    <p>Dress modern</p>
                    <div class="div__img-right-rating4">
                        <p class="price4">$163.99</p>
                        <img src="../storage/img/rating.png">
                        <p class="rating4">5.0</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="div__slash">
            <button><a href="#"><img src="../storage/img/icon-home.png"></a>
            </button class="button__home">
            <button><a href="#"><img src="../storage/img/icon-shop.png"></a>
            </button class="button__shop">
            <button>
                <a href="#"><img src="../storage/img/icon-heart.png"></a>
            </button class="button__favs">
            <button>
                <a href="#"><img src="../storage/img/icon-profile.png"></a>
            </button class="button__profile">
        </div>
    </footer>
</body>
</html>